<div class="container">
    <div class="flex-row">
        <div class="md-flex-col30 flex-row PT10 md-space-center availableIn font-family-schoolbell text-size-rem16"><span>Available in PCMC only</span></div>
    <div class="md-flex-col40 flex-row flex-horiz-center PT16"><img class="responsiveImg" src="assets\images\logo.png" alt="Dhruvi's Cake image" width="515px" height="337"></div>
    <div class="md-flex-col30 flex-row PT10 md-space-center font-family-schoolbell text-size-rem15 ">
        <div class="PR15 PT2">Need Help ?</div>
        <div class="PR11"><img src="assets/images/phoneicon.png" alt="Phone Icon" width="40px" height="38px"></div>
        <div class="PR11"><img src="assets/images/whatsappicon.png" alt="Phone Icon" width="38px" height="38px"></div>
        <div class="font-family-SegoeUI text-size-rem15 PT2">+919850929610</div>
    </div>
    </div>
    <nav class="flex-row md-space-center text-size-rem18">
        <ul *ngFor="let menu of menus">
            <li><a href="">{{menu}}<fa-icon class="PL5 xyz" [icon]="faChevronDown" size="xs"></fa-icon></a></li>
        </ul>
    </nav>
</div>



