.container{
    background: #000;
    color: #fff;
    width: 100%;
    height: 466px;
    // display: flex;
    // flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: #ED1354;
  }

  .xyz:hover{
    color: blue;
  }

