* {
    box-sizing: border-box;
  }
  
.textColorWhite{
    color: #ffffff;
}

.bg-black {
    background-color: #000000;
}

.marginZeroAuto {
    margin: 0 auto;
}

.responsiveImg {
    max-width: 100%;
    height: auto;
}

.displayInlineBlock {
    display: inline-block;
}


/*******Fonts Common Class Starts************/

.font-family-schoolbell {
    font-family: schoolbell;
}

.font-family-SegoeUI{
    font-family: "Segoe UI"
}

/*******Fonts Common Class Ends************/


/*******Padding & Margin in px Common Class Starts************/

@for $i from 0 through 100{

    .PT#{$i} {
        padding-top: $i+px;
    }

    .PR#{$i} {
        padding-right: $i+px;
    }

    .PB#{$i} {
        padding-bottom: $i+px;
    }

    .PL#{$i} {
        padding-left: $i+px;
    }

    .P#{$i} {
        padding: $i+px;
    }

    .MT#{$i} {
        margin-top: $i+px;
    }

    .MR#{$i} {
        margin-right: $i+px;
    }

    .MB#{$i} {
        margin-bottom: $i+px;
    }

    .ML#{$i} {
        margin-left: $i+px;
    }

    .M#{$i} {
        margin: $i+px;
    }    

}

/*******Padding & Margin in px Common Class Ends************/

/*******Font Size Common class in REM Starts**************/

@for $i from 1 through 40 {
    .text-size-rem#{$i}{
        font-size: ($i/10)+rem;
    }
}


.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  

